In [14]:
# Import necessary libraries and reattempt calculation
import pandas as pd

data_path = './data/test_ave.csv'
data = pd.read_csv(data_path)

# Calculate the mean fare using pandas.mean method
mean_fare = round(data['Fare'].mean(), 2)
mean_fare

np.float64(34.65)

In [10]:
import pandas as pd
# Load the dataset
data = pd.read_csv('./data/test_ave.csv')
# Calculate mean fare using pandas.mean(), rounded to 2 decimal places
mean_fare = round(data['Fare'].mean(), 2)
mean_fare

np.float64(34.65)

In [1]:
# Load necessary libraries and the dataset
import pandas as pd
from scipy.stats import zscore

# Load the dataset
data_path = './data/insurance.csv'
data = pd.read_csv(data_path)

data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [2]:
# Identify outliers using Z-score method with 1.5xIQR rule
charges = data['charges']
# Calculate the first and third quartile
Q1 = charges.quantile(0.25)
Q3 = charges.quantile(0.75)
IQR = Q3 - Q1

# Define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out the outliers based on bounds
outliers = charges[(charges < lower_bound) | (charges > upper_bound)]

# Calculate required metrics for outliers
total_outliers = len(outliers)
mean_charges_outliers = outliers.mean()
median_charges_outliers = outliers.median()

round(total_outliers, 2), round(mean_charges_outliers, 2), round(median_charges_outliers, 2)

(139, np.float64(42103.95), np.float64(40974.16))

In [3]:
import pandas as pd
from scipy.stats import skew

# Load the dataset
data = pd.read_csv('./data/insurance.csv')

# Calculate skewness of BMI
bmi_skewness = skew(data['bmi'])

# Check if absolute skewness is less than 0.5
status = 'normal' if abs(bmi_skewness) < 0.5 else 'not_normal'

# Output result
f"@bmi_distribution[{status}]"

'@bmi_distribution[normal]'

In [4]:
import pandas as pd
# Load the dataset
data = pd.read_csv('./data/test_ave.csv')
data.head()

   Unnamed: 0  PassengerId  Survived  Pclass  \
0           0            1         0       3
1           1            2         1       1
2           2            3         1       3
3           3            4         1       1
4           4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  AgeBand
0      0         A/5 21171   7.2500   NaN        S        2
1      0          PC 17599  71.2833   C85        C        3
2      0  STON/O2. 3101282   7.9250   NaN        S        2
3      0            113803  53.1000  C123        S        3
4      0            373450   8.0500   NaN        S        3

In [5]:
mean_fare = round(data['Fare'].mean(), 2)
mean_fare

np.float64(34.65)

In [6]:
# Import pandas module
import pandas as pd

# Load the dataset
data = pd.read_csv('./data/test_ave.csv')

# Calculate the mean fare column using pandas
mean_fare = round(data['Fare'].mean(), 2)

# Output result
mean_fare

np.float64(34.65)

In [7]:
# Load the required dataset
data_path = './data/test_ave.csv'
import pandas as pd
import statistics

data = pd.read_csv(data_path)

# Calculate the mean fare
if 'Fare' in data.columns:
    mean_fare = round(statistics.mean(data['Fare']), 2)
else:
    mean_fare = None
mean_fare

34.65

In [8]:
import pandas as pd

# Load the dataset
data = pd.read_csv('./data/test_ave.csv')

# Calculate the mean fare
mean_fare = round(data['Fare'].mean(), 2)
mean_fare

np.float64(34.65)

In [9]:
import pandas as pd
from scipy.stats import shapiro
# Load the data file
data = pd.read_csv('./data/GODREJIND.csv')

# Check for the existence of the required column
required_column = 'Total Traded Quantity'
if required_column not in data.columns:
    raise ValueError(f"Column '{required_column}' not found in the dataset")

# Perform Shapiro-Wilk test
stat, p = shapiro(data[required_column])
alpha = 0.05
if p > alpha:
    result = '@is_normal[yes]'
else:
    result = '@is_normal[no]'
result

'@is_normal[no]'

In [11]:
import pandas as pd

data = pd.read_csv('./data/test_ave.csv')

mean_fare = round(data['Fare'].mean(), 2)
mean_fare

np.float64(34.65)

In [12]:
import pandas as pd

# Load the dataset
data_path = './data/test_ave.csv'
data = pd.read_csv(data_path)

# Calculate the mean of fares
mean_fare = round(data['Fare'].mean(), 2)
mean_fare

np.float64(34.65)

In [13]:
# Load the dataset
data_path = './data/test_ave.csv'
data = pd.read_csv(data_path)

# Calculate the mean fare using pandas.mean method
import pandas as pd
mean_fare = round(data['Fare'].mean(), 2)
mean_fare

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
Cell In[1], line 3
      1 # Load the dataset
      2 data_path = './data/test_ave.csv'
----> 3 data = pd.read_csv(data_path)
      5 # Calculate the mean fare using pandas.mean method
      6 import pandas as pd

NameError: name 'pd' is not defined