In [2]:
import pandas as pd
from scipy.stats import pearsonr

# Load the dataset
file_path = './data/GODREJIND.csv'
df = pd.read_csv(file_path)

# Display the first few rows and columns to understand the data
print(df.head())
print(df.columns)

      Symbol Series         Date  Prev Close  Open Price  High Price  \
0  GODREJIND     EQ  15-May-2017      564.60      581.00      584.00
1  GODREJIND     EQ  16-May-2017      578.55      581.45      589.00
2  GODREJIND     EQ  17-May-2017      584.80      583.00      594.00
3  GODREJIND     EQ  18-May-2017      588.60      582.00      588.85
4  GODREJIND     EQ  19-May-2017      574.60      581.00      585.80

   Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
0     568.50      578.90       578.55         578.09                 797171
1     572.25      583.80       584.80         583.60                 500223
2     576.85      584.90       588.60         588.74                 504155
3     571.20      572.25       574.60         580.90                 223583
4     567.55      579.85       578.00         577.31                 245436

       Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty
0  4.608362e+08          21649           360927                   45.28
1  2.919302e+08          17204           210364                   42.05
2  2.968149e+08           8567           261667                   51.90
3  1.298786e+08           7144            99785                   44.63
4  1.416925e+08           4969            68041                   27.72
Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [1]:
import pandas as pd

data_path = './data/test_ave.csv'
df = pd.read_csv(data_path)
df.head()

   Unnamed: 0  PassengerId  Survived  Pclass  \
0           0            1         0       3
1           1            2         1       1
2           2            3         1       3
3           3            4         1       1
4           4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  AgeBand
0      0         A/5 21171   7.2500   NaN        S        2
1      0          PC 17599  71.2833   C85        C        3
2      0  STON/O2. 3101282   7.9250   NaN        S        2
3      0            113803  53.1000  C123        S        3
4      0            373450   8.0500   NaN        S        3

In [3]:
import pandas as pd
# Load the dataset
data = pd.read_csv('./data/test_ave.csv')
data.head()

   Unnamed: 0  PassengerId  Survived  Pclass  \
0           0            1         0       3
1           1            2         1       1
2           2            3         1       3
3           3            4         1       1
4           4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  AgeBand
0      0         A/5 21171   7.2500   NaN        S        2
1      0          PC 17599  71.2833   C85        C        3
2      0  STON/O2. 3101282   7.9250   NaN        S        2
3      0            113803  53.1000  C123        S        3
4      0            373450   8.0500   NaN        S        3

In [4]:
# Create 'FamilySize' feature and calculate correlation
# FamilySize = SibSp + Parch
data['FamilySize'] = data['SibSp'] + data['Parch']

# Calculate Pearson correlation between 'FamilySize' and 'Fare'
correlation = data[['FamilySize', 'Fare']].corr(method='pearson').iloc[0, 1]
round(correlation, 2)

np.float64(0.21)

In [5]:
import pandas as pd

data_path = './data/test_ave.csv'
df = pd.read_csv(data_path)
df.head()

   Unnamed: 0  PassengerId  Survived  Pclass  \
0           0            1         0       3
1           1            2         1       1
2           2            3         1       3
3           3            4         1       1
4           4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  AgeBand
0      0         A/5 21171   7.2500   NaN        S        2
1      0          PC 17599  71.2833   C85        C        3
2      0  STON/O2. 3101282   7.9250   NaN        S        2
3      0            113803  53.1000  C123        S        3
4      0            373450   8.0500   NaN        S        3

In [6]:
# Define AgeGroup column based on the Age column
def categorize_age(age):
    if pd.isnull(age):
        return 'Unknown'
    elif age <= 12:
        return 'Child'
    elif age <= 19:
        return 'Teenager'
    elif age <= 59:
        return 'Adult'
    else:
        return 'Elderly'

df['AgeGroup'] = df['Age'].apply(categorize_age)
df.head()

   Unnamed: 0  PassengerId  Survived  Pclass  \
0           0            1         0       3
1           1            2         1       1
2           2            3         1       3
3           3            4         1       1
4           4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  AgeBand AgeGroup
0      0         A/5 21171   7.2500   NaN        S        2    Adult
1      0          PC 17599  71.2833   C85        C        3    Adult
2      0  STON/O2. 3101282   7.9250   NaN        S        2    Adult
3      0            113803  53.1000  C123        S        3    Adult
4      0            373450   8.0500   NaN        S        3    Adult

In [7]:
# Calculate mean fare for each age group and round to 2 decimal places
mean_fares = df.groupby('AgeGroup')['Fare'].mean().round(2)
mean_fares.to_dict()

{'Adult': 35.17, 'Child': 31.09, 'Elderly': 43.47, 'Teenager': 31.98}

In [8]:
import pandas as pd

data_path = './data/GODREJIND.csv'
data = pd.read_csv(data_path)

mean_close_price = round(data['Close Price'].mean(), 2)
mean_close_price

np.float64(570.68)

In [9]:
from scipy.stats import shapiro
import pandas as pd

# Load the dataset
data = pd.read_csv('./data/GODREJIND.csv')

# Extract the 'Total Traded Quantity' column
total_traded_quantity = data['Total Traded Quantity']

# Perform the Shapiro-Wilk test
stat, p_value = shapiro(total_traded_quantity)

# Define the significance level
alpha = 0.05

# Determine if the data follows a normal distribution based on Shapiro-Wilk test
if p_value > alpha:
    is_normal = 'yes'
else:
    is_normal = 'no'

is_normal

'no'

In [10]:
import pandas as pd 

# Load the data from the file
data = pd.read_csv('./data/estimated_numbers.csv')
# Display the first few rows
data.head()

       Country  Year              No. of cases      No. of deaths  \
0  Afghanistan  2017     630308[495000-801000]       298[110-510]
1      Algeria  2017                         0                  0
2       Angola  2017  4615605[3106000-6661000]  13316[9970-16600]
3    Argentina  2017                         0                  0
4      Armenia  2017                         0                  0

   No. of cases_median  No. of cases_min  No. of cases_max  \
0               630308          495000.0          801000.0
1                    0               NaN               NaN
2              4615605         3106000.0         6661000.0
3                    0               NaN               NaN
4                    0               NaN               NaN

   No. of deaths_median  No. of deaths_min  No. of deaths_max  \
0                   298              110.0              510.0
1                     0                NaN                NaN
2                 13316             9970.0            16600.0
3                     0                NaN                NaN
4                     0                NaN                NaN

              WHO Region
0  Eastern Mediterranean
1                 Africa
2                 Africa
3               Americas
4                 Europe

In [11]:
# Clean and format the 'No. of deaths' column
# Remove any rows where the 'No. of deaths' column is null or empty
data_cleaned = data[data['No. of deaths'].notnull() & (data['No. of deaths'] != '')]

# Convert 'No. of deaths' column from Object to Int64 for calculations
data_cleaned['No. of deaths_median'] = data_cleaned['No. of deaths_median'].astype(int)

# Find the row with the maximum number of deaths
max_deaths_row = data_cleaned.loc[data_cleaned['No. of deaths_median'].idxmax()]

max_deaths_row['Country'], int(max_deaths_row['Year'])

('Nigeria', 2010)

In [12]:
import pandas as pd
from scipy.stats import pearsonr

# Load the dataset
file_path = './data/estimated_numbers.csv'
data = pd.read_csv(file_path)

# Ensure columns are in the correct data type
data['No. of cases'] = data['No. of cases'].astype(int)
data['No. of deaths'] = data['No. of deaths'].astype(int)

# Calculate the Pearson correlation coefficient
correlation, _ = pearsonr(data['No. of cases'], data['No. of deaths'])

correlation = round(correlation, 2)
correlation

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In[61], line 9
      6 data = pd.read_csv(file_path)
      8 # Ensure columns are in the correct data type
----> 9 data['No. of cases'] = data['No. of cases'].astype(int)
     10 data['No. of deaths'] = data['No. of deaths'].astype(int)
     12 # Calculate the Pearson correlation coefficient

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/generic.py:6665, in NDFrame.astype(self, dtype, copy, errors)
   6659     results = [
   6660         ser.astype(dtype, copy=copy, errors=errors) for _, ser in self.items()
   6661     ]
   6663 else:
   6664     # else, only a single dtype is given
-> 6665     new_data = self._mgr.astype(dtype=dtype, copy=copy, errors=errors)
   6666     res = self._constructor_from_mgr(new_data, axes=new_data.axes)
   6667     return res.__finalize__(self, method="astype")

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/internals/managers.py:449, in BaseBlockManager.astype(self, dtype, copy, errors)
    446 elif using_copy_on_write():
    447     copy = False
--> 449 return self.apply(
    450     "astype",
    451     dtype=dtype,
    452     copy=copy,
    453     errors=errors,
    454     using_cow=using_copy_on_write(),
    455 )

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/internals/managers.py:363, in BaseBlockManager.apply(self, f, align_keys, **kwargs)
    361         applied = b.apply(f, **kwargs)
    362     else:
--> 363         applied = getattr(b, f)(**kwargs)
    364     result_blocks = extend_blocks(applied, result_blocks)
    366 out = type(self).from_blocks(result_blocks, self.axes)

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/internals/blocks.py:784, in Block.astype(self, dtype, copy, errors, using_cow, squeeze)
    781         raise ValueError("Can not squeeze with more than one column.")
    782     values = values[0, :]  # type: ignore[call-overload]
--> 784 new_values = astype_array_safe(values, dtype, copy=copy, errors=errors)
    786 new_values = maybe_coerce_values(new_values)
    788 refs = None

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/dtypes/astype.py:237, in astype_array_safe(values, dtype, copy, errors)
    234     dtype = dtype.numpy_dtype
    236 try:
--> 237     new_values = astype_array(values, dtype, copy=copy)
    238 except (ValueError, TypeError):
    239     # e.g. _astype_nansafe can fail on object-dtype of strings
    240     #  trying to convert to float
    241     if errors == "ignore":

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/dtypes/astype.py:182, in astype_array(values, dtype, copy)
    179     values = values.astype(dtype, copy=copy)
    181 else:
--> 182     values = _astype_nansafe(values, dtype, copy=copy)
    184 # in pandas we don't store numpy str dtypes, so convert to object
    185 if isinstance(dtype, np.dtype) and issubclass(values.dtype.type, str):

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/dtypes/astype.py:133, in _astype_nansafe(arr, dtype, copy, skipna)
    129     raise ValueError(msg)
    131 if copy or arr.dtype == object or dtype == object:
    132     # Explicit copy, or required since NumPy can't view from / to object.
--> 133     return arr.astype(dtype, copy=True)
    135 return arr.astype(dtype, copy=copy)

ValueError: invalid literal for int() with base 10: '630308[495000-801000]'

In [13]:
# Investigate the column data for improper values
unique_cases = data['No. of cases'].unique()
unique_deaths = data['No. of deaths'].unique()

unique_cases, unique_deaths

(array(['630308[495000-801000]', '0', '4615605[3106000-6661000]',
        '32924[30000-36000]', '7', '4111699[2774000-6552000]', '11',
        '6512[4900-8300]', '2989[2300-4200]', '217928[196000-236000]',
        '7907562[5645000-11330000]', '2113066[1284000-3401000]', '423',
        '208273[186000-236000]', '7307515[4704000-11030000]',
        '1804550[777000-3363000]', '2779489[1449000-4832000]',
        '80357[60000-103000]', '3230', '1039706[559000-1710000]', '12',
        '3373486[1847000-5475000]', '2184', '25021891[15670000-38570000]',
        '15265', '405[360-460]', '1275', '435143[269000-653000]',
        '115928[75000-162000]', '724', '2666954[538000-6277000]',
        '341980[145000-651000]', '119044[96000-144000]',
        '7805045[5031000-11880000]', '4739[4000-6100]',
        '4282165[2858000-6083000]', '107972[40000-263000]',
        '24913[19000-34000]', '32011[22000-43000]', '1695[1400-2100]',
        '9590000[6965000-13260000]', '1530566[1232000-1978000]', '60',
        '3520384[1970000-5860000]', '20712[16000-27000]',
        '911333[423000-1571000]', '2324289[1740000-2992000]',
        '4303543[2707000-6366000]', '85', '7160192[5060000-10180000]',
        '238272[95000-445000]', '736', '10025823[7360000-13570000]',
        '116772[95000-140000]', '89611[71000-109000]', '3829[3100-4800]',
        '13711[11000-16000]', '7702777[4039000-12850000]',
        '53667565[36330000-75930000]', '956280[726000-1348000]',
        '808[760-860]', '1500657[1032000-2063000]', '70745[59000-83000]',
        '15253[11000-19000]', '436', '6172220[4689000-7718000]', '2239',
        '177', '1024285[701000-1384000]', '2869588[1954000-4250000]',
        '103482[79000-141000]', '541768[319000-814000]', '22517',
        '1781704[1055000-2799000]', '1517910[903000-2348000]', '40',
        '11043', '36[30-40]', '2891868[2015000-4257000]',
        '8600724[5168000-13630000]', '6477825[4140000-9717000]',
        '2270[1700-3100]', '519109[433000-665000]', '5481[5100-6000]',
        '762995[547000-1083000]', '3475522[2492000-4899000]',
        '1239430[826000-1737000]', '614491[439000-838000]',
        '4485050[3010000-6468000]', '31169[28000-34000]', '4',
        '4007210[2703000-6376000]', '15', '7894[5900-10000]',
        '1150[890-1600]', '133591[128000-142000]',
        '7675183[5478000-11000000]', '2053294[1247000-3303000]', '48',
        '127552[114000-144000]', '7176158[4625000-10820000]',
        '1780632[762000-3310000]', '2689908[1404000-4670000]', '3',
        '115125[88000-144000]', '1143', '1030697[551000-1698000]',
        '3319810[1802000-5391000]', '2719', '24454696[15330000-37700000]',
        '13804', '896[760-1000]', '1191', '427357[264000-642000]',
        '86561[47000-138000]', '350', '2927266[525000-6983000]',
        '334796[142000-637000]', '253981[204000-307000]',
        '7652909[4966000-11680000]', '6120[5100-7800]',
        '4197876[2801000-5973000]', '105441[39000-257000]',
        '22108[17000-30000]', '35105[24000-47000]', '5934[4600-7400]',
        '12630000[8993000-17830000]', '1293337[1043000-1679000]', '81',
        '3452117[1921000-5768000]', '28152[21000-36000]',
        '898524[417000-1550000]', '1692049[1241000-2231000]',
        '4223467[2647000-6235000]', '266', '6902717[4871000-9821000]',
        '298498[138000-540000]', '551', '9753050[7163000-13210000]',
        '262577[214000-316000]', '41608[33000-51000]', '2754[1900-4800]',
        '7854[6600-9200]', '7457829[3910000-12420000]',
        '52357005[35450000-74040000]', '1202476[823000-1904000]',
        '817[790-870]', '1469150[1063000-1958000]', '71056[60000-83000]',
        '16173[12000-21000]', '602', '6608358[5020000-8268000]', '2238',
        '272', '836561[574000-1124000]', '2796045[1904000-4132000]',
        '84451[71000-102000]', '528591[310000-794000]', '4323',
        '1739256[1030000-2735000]', '1484475[879000-2301000]', '76',
        '13451', '148[120-170]', '2862933[1997000-4209000]',
        '8425793[5051000-13370000]', '6317222[4017000-9481000]',
        '4184[3200-5700]', '303471[253000-387000]', '5024[4600-5600]',
        '667967[477000-946000]', '3387771[2422000-4776000]',
        '740192[501000-1009000]', '369809[247000-524000]',
        '4303582[2882000-6212000]', '44948[41000-49000]', '9',
        '3787806[2518000-6071000]', '34', '9792[7300-12000]',
        '519[400-730]', '158963[143000-172000]',
        '7770245[5534000-11050000]', '1957365[1186000-3159000]',
        '224858[201000-256000]', '7223417[4647000-10940000]',
        '1758188[754000-3277000]', '2690084[1407000-4633000]', '39',
        '72460[54000-93000]', '1300', '1044034[561000-1718000]',
        '3395695[1860000-5510000]', '773', '24159871[15210000-37230000]',
        '9473', '751[660-850]', '618', '2', '418770[259000-628000]',
        '64176[41000-89000]', '157', '3632424[520000-9265000]',
        '333155[143000-631000]', '412588[333000-501000]',
        '7513657[4861000-11440000]', '8621[7200-11000]',
        '4205085[2811000-5957000]', '106338[40000-258000]',
        '17848[13000-24000]', '31181[21000-42000]', '4745[3800-5800]',
        '12200000[9175000-16200000]', '1284900[1038000-1663000]', '167',
        '3455175[1921000-5783000]', '79592[60000-103000]',
        '903748[427000-1559000]', '2840141[2078000-3761000]',
        '4102579[2573000-6068000]', '242', '6833022[4836000-9683000]',
        '249961[100000-467000]', '517', '9496089[6976000-12850000]',
        '425073[348000-511000]', '20092[16000-24000]', '4084[2300-8700]',
        '2853[2400-3300]', '7397212[3902000-12230000]',
        '52697962[35940000-74500000]', '992605[533000-2002000]',
        '580[560-620]', '1066533[736000-1454000]', '91640[77000-108000]',
        '26726[20000-35000]', '627', '3799535[2887000-4747000]', '2058',
        '83', '1176494[798000-1591000]', '2727461[1860000-4045000]',
        '39916[33000-49000]', '514253[302000-770000]', '1157',
        '1805509[1081000-2834000]', '1476591[873000-2288000]', '17427',
        '141[120-160]', '2800982[1943000-4129000]',
        '8182789[4914000-12970000]', '6085465[3870000-9136000]',
        '788[670-940]', '172036[144000-220000]', '11283[10000-12000]',
        '1022338[606000-4645000]', '3347169[2398000-4710000]',
        '1081888[739000-1465000]', '284198[189000-409000]',
        '3768087[2485000-5526000]', '53948[49000-59000]', '19',
        '3387590[2299000-5154000]', '11512[8400-15000]', '2065[1600-2900]',
        '146675[141000-156000]', '8258938[5941000-11230000]',
        '1688069[999000-2680000]', '26', '247065[221000-281000]',
        '7282873[4754000-11060000]', '1786895[746000-3255000]',
        '2797275[1513000-4737000]', '56', '56815[43000-71000]', '2203',
        '1017800[569000-1712000]', '3592810[2104000-5852000]', '10535',
        '23031390[14630000-35610000]', '9439', '546[480-620]', '22', '6',
        '413388[252000-626000]', '109689[70000-153000]', '711',
        '3825848[430000-10260000]', '341474[139000-642000]',
        '291528[235000-354000]', '8113023[5384000-12160000]',
        '7170[6000-9200]', '4255458[2833000-5892000]',
        '103918[38000-239000]', '22085[17000-30000]', '31950[22000-43000]',
        '4484[3600-5500]', '11420000[8506000-15510000]',
        '1492130[1204000-1935000]', '358', '3916556[2205000-6574000]',
        '105109[79000-136000]', '877199[421000-1502000]',
        '1303958[940000-1752000]', '4161861[2743000-6007000]', '3147',
        '7468113[5359000-10370000]', '193933[69000-376000]', '656',
        '9425097[6967000-12880000]', '480112[352000-667000]',
        '26278[21000-32000]', '4933[3100-9700]', '1430[1200-1700]',
        '7700900[4169000-12400000]', '59365039[41180000-81580000]',
        '1373352[747000-2602000]', '1016[960-1100]',
        '1931287[1185000-2926000]', '81884[69000-96000]',
        '14293[11000-18000]', '557', '2405272[1826000-3011000]', '1754',
        '30', '673074[498000-869000]', '2683566[1754000-4004000]',
        '30591[25000-39000]', '430886[267000-641000]', '11705',
        '1668785[970000-2686000]', '1293793[789000-2009000]', '401',
        '37921', '567[480-660]', '2626144[1814000-3785000]',
        '7040282[4174000-11000000]', '5927919[3724000-8923000]',
        '2431[1800-3300]', '114404[96000-148000]', '19060[18000-21000]',
        '1168534[686000-4710000]', '3534876[2468000-4925000]',
        '1093731[812000-1394000]', '213914[118000-352000]', '8',
        '3384997[2191000-4970000]', '25019[22000-28000]', '20',
        '3219441[2175000-4744000]', '11356[8300-15000]', '725[570-1000]',
        '194191[175000-211000]', '8736057[6232000-11820000]',
        '1539318[911000-2416000]', '173259[155000-196000]',
        '6960282[4546000-10510000]', '1885599[804000-3320000]',
        '2947833[1699000-4685000]', '86', '72044[55000-90000]', '53156',
        '975903[562000-1638000]', '4332409[2601000-6860000]', '14407',
        '22488362[14430000-34870000]', '1684', '720[610-840]', '368',
        '496542[308000-725000]', '49309[31000-70000]', '962',
        '5173952[420000-21680000]', '339163[134000-622000]',
        '471968[377000-575000]', '8552123[5764000-12670000]',
        '7886[6600-10000]', '4344956[3003000-5922000]',
        '102461[39000-216000]', '56946[43000-78000]', '48004[30000-73000]',
        '7205[5700-8800]', '11210000[8306000-15110000]',
        '2033858[1643000-2632000]', '479', '3754660[2110000-6328000]',
        '80695[60000-104000]', '907189[483000-1425000]',
        '1813487[1184000-2781000]', '4169285[2817000-6014000]', '2921',
        '7448756[5311000-10230000]', '127145[38000-263000]', '495',
        '9644363[7129000-13080000]', '709051[529000-978000]',
        '8109[6500-9900]', '10326[7200-18000]', '1455[1200-1700]',
        '7780901[4452000-12230000]', '62020888[43310000-84840000]',
        '1419225[762000-2687000]', '758[730-810]',
        '1677722[956000-2546000]', '61137[51000-72000]',
        '17718[13000-22000]', '383', '1304560[1093000-1531000]', '9243',
        '1126085[782000-1484000]', '2717309[1808000-4035000]',
        '53689[40000-75000]', '366378[222000-544000]', '8645',
        '1707171[1007000-2741000]', '1115132[683000-1694000]', '729',
        '33302', '1709[1500-2000]', '2484119[1690000-3568000]',
        '7407982[4431000-11680000]', '5792430[3646000-8693000]',
        '5334[4000-7200]', '99809[83000-129000]', '20760[19000-23000]',
        '707544[507000-1009000]', '3355470[2292000-4698000]',
        '863883[617000-1122000]', '278223[134000-472000]', '55',
        '3111760[1964000-4531000]', '35333[31000-40000]', '33',
        '3307673[2272000-4869000]', '11534[8400-15000]', '302[230-430]',
        '255662[246000-273000]', '9228345[6569000-12300000]',
        '1501315[900000-2373000]', '1', '266576[239000-300000]',
        '6168031[4057000-9447000]', '2023795[881000-3485000]',
        '3296088[2209000-4858000]', '244', '83866[64000-105000]', '49840',
        '916492[537000-1538000]', '5908246[3700000-9477000]', '21850',
        '22281939[14450000-34250000]', '25', '1185[1000-1400]', '544',
        '13', '490132[308000-709000]', '52483[33000-75000]', '562',
        '5237442[424000-22450000]', '326053[145000-584000]',
        '531834[434000-638000]', '9004550[6128000-13160000]',
        '6793[5600-8800]', '4452801[3251000-6051000]',
        '102959[46000-190000]', '43311[35000-53000]', '58234[36000-89000]',
        '8544[6800-10000]', '14220000[10490000-19450000]',
        '2473705[1994000-3214000]', '756', '3252855[1862000-5394000]',
        '98137[73000-126000]', '1033327[617000-1648000]',
        '1824487[1126000-2899000]', '4317650[2969000-6244000]', '3662',
        '6961475[4944000-9445000]', '105626[24000-234000]', '833',
        '9576806[7090000-12950000]', '1898175[1375000-2730000]',
        '5884[2700-9700]', '13227[8300-27000]', '1546[1300-1800]',
        '7660985[4461000-11860000]', '61587135[43510000-83800000]',
        '1652576[796000-3282000]', '896[860-960]',
        '1414839[503000-2815000]', '39448[33000-46000]',
        '19379[14000-25000]', '394', '748975[596000-911000]', '12550',
        '82', '835134[570000-1128000]', '2849037[1799000-4171000]',
        '52221[38000-74000]', '310864[187000-454000]', '5629',
        '1818297[1122000-2834000]', '23', '993585[631000-1493000]', '356',
        '18', '32569', '7821[6600-9100]', '2399812[1634000-3435000]',
        '9074100[5816000-14490000]', '5851532[3638000-8761000]',
        '8408[6400-12000]', '67122[56000-86000]', '23838[22000-27000]',
        '849989[578000-1295000]', '2681660[1807000-3828000]',
        '592186[408000-791000]', '454823[210000-746000]',
        '3040461[1910000-4456000]', '102302[88000-118000]', '72',
        '3515943[2362000-5240000]', '228', '10175[7600-13000]',
        '678[520-970]', '281346[271000-300000]',
        '9320362[6648000-12390000]', '1546912[916000-2506000]',
        '376898[338000-424000]', '5462230[3592000-8136000]',
        '2118745[1003000-3588000]', '3565593[2570000-4807000]', '3367',
        '83763[64000-104000]', '24856', '861145[485000-1412000]', '10',
        '7525922[5095000-11190000]', '16760',
        '22535174[14950000-34200000]', '2010[1700-2300]', '1219',
        '481385[302000-706000]', '76678[49000-107000]', '549',
        '5094685[410000-22710000]', '309019[145000-576000]',
        '483793[400000-577000]', '9251148[6348000-13300000]',
        '8638[7200-11000]', '4455792[3236000-6069000]',
        '113666[56000-192000]', '40880[33000-50000]',
        '79329[49000-122000]', '9969[7900-12000]',
        '17520000[12760000-23930000]', '2488590[2013000-3226000]', '1632',
        '2930265[1701000-4797000]', '36513[27000-47000]',
        '1253129[785000-2007000]', '841836[524000-1225000]',
        '4476529[3085000-6518000]', '3954', '6279267[4466000-8577000]',
        '171669[43000-357000]', '1124', '8930459[6554000-12230000]',
        '1322336[1036000-1724000]', '3671[2600-5400]',
        '24062[15000-45000]', '1158[970-1400]',
        '7323097[4124000-11200000]', '60529456[43880000-82700000]',
        '1905938[933000-3682000]', '376[360-400]',
        '1045967[388000-1806000]', '30122[26000-34000]',
        '24222[18000-31000]', '505', '401794[301000-511000]', '8442', '69',
        '709373[498000-942000]', '3006695[1957000-4314000]',
        '62676[44000-92000]', '301405[181000-441000]', '9866',
        '1939487[1248000-2904000]', '124', '951357[611000-1442000]', '771',
        '65', '24897', '33063[26000-41000]', '2350507[1593000-3322000]',
        '10686032[7124000-16720000]', '6300351[3854000-9585000]',
        '11651[8800-16000]', '58086[48000-75000]', '20206[19000-23000]',
        '792458[480000-1406000]', '2298064[1550000-3291000]',
        '718725[473000-982000]', '353343[181000-581000]',
        '3125901[2009000-4595000]', '14', '50', '113895[97000-133000]',
        '150', '3713395[2495000-5565000]', '526', '19614[15000-25000]',
        '3072[1300-8600]', '384655[346000-417000]',
        '9221846[6578000-12230000]', '1608931[955000-2677000]', '47',
        '361377[304000-430000]', '5361329[3578000-7972000]',
        '2140887[1060000-3519000]', '3594883[2594000-4735000]', '4990',
        '163874[125000-204000]', '36538', '835820[468000-1370000]', '110',
        '7939844[5391000-11380000]', '13520',
        '23691683[16060000-35620000]', '1010', '4247[3600-5000]', '1888',
        '381639[239000-558000]', '83471[53000-119000]', '268',
        '7701107[478000-27080000]', '285725[130000-549000]',
        '465479[367000-580000]', '9171294[6265000-13160000]',
        '9545[7900-12000]', '4348149[3111000-5940000]',
        '122027[67000-203000]', '32656[26000-41000]',
        '82766[48000-131000]', '13106[10000-16000]',
        '20490000[15080000-28300000]', '2730079[2199000-3531000]', '1847',
        '2845913[1647000-4630000]', '40528[30000-54000]',
        '1295630[838000-2051000]', '937413[559000-1501000]',
        '4602005[3214000-6681000]', '5194', '5772983[4132000-7960000]',
        '128567[21000-287000]', '1226', '8455521[6102000-11640000]',
        '2019172[1393000-3044000]', '2601[800-6200]', '30690[15000-63000]',
        '866[730-1000]', '7007707[3855000-10710000]',
        '60749349[43800000-83240000]', '1445704[660000-2959000]',
        '444[430-470]', '1240109[439000-2154000]', '37121[33000-42000]',
        '54209[39000-71000]', '1267', '1260186[848000-1729000]', '2740',
        '29', '792643[563000-1046000]', '3031470[1954000-4234000]',
        '91425[65000-132000]', '356323[214000-527000]', '8060',
        '1940101[1283000-2836000]', '684', '961960[606000-1453000]',
        '1712', '111', '32480', '103604[74000-137000]',
        '2366948[1580000-3356000]', '11503116[7618000-17700000]',
        '6545932[3955000-9995000]', '15695[12000-20000]',
        '57257[47000-74000]', '23062[21000-26000]',
        '1134927[611000-2686000]', '2169307[1449000-3095000]',
        '1095083[606000-1717000]'], dtype=object),
 array(['298[110-510]', '0', '13316[9970-16600]', '76[3-130]',
        '7328[5740-8920]', '2[0-4]', '7[0-20]', '30', '27791[25100-30500]',
        '5253[4300-6200]', '1', '345[30-590]', '11566[8900-14200]',
        '4804[3980-5640]', '8729[6640-10800]', '8[0-10]',
        '1993[1790-2190]', '9579[8090-11100]', '46007[35400-56600]',
        '1[0-1]', '669[530-810]', '222[10-460]', '1[0-2]',
        '5369[80-16700]', '505[450-560]', '674[580-760]',
        '10917[10100-11800]', '1[0-3]', '7562[6180-8950]', '688[590-780]',
        '33[3-60]', '81[2-160]', '16733[1200-31900]', '2680[200-5110]',
        '12467[11200-13700]', '30[2-60]', '2227[1910-2540]',
        '5950[190-11200]', '7077[6060-8090]', '10', '12425[9870-15000]',
        '1421[1230-1610]', '14713[12200-17200]', '218[10-390]',
        '229[7-420]', '10[2-20]', '17155[13000-21300]',
        '81640[64400-98800]', '805[160-1480]', '3053[170-6120]',
        '34[1-60]', '3270[2990-3550]', '4523[4060-4980]',
        '17590[16200-19000]', '134[20-260]', '1386[40-3100]', '274',
        '6069[5220-6920]', '3885[110-8940]', '11', '5341[4360-6330]',
        '14390[11800-16900]', '22301[19800-24800]', '2[0-3]',
        '456[80-790]', '9[0-20]', '1926[70-3760]', '7618[6600-8630]',
        '3172[90-6410]', '294[100-530]', '13197[9840-16600]', '73[3-120]',
        '7137[5570-8710]', '2[0-5]', '35', '28453[25600-31400]',
        '5161[4220-6100]', '210[20-360]', '11999[9230-14800]',
        '4998[4130-5870]', '8900[6730-11100]', '1996[1780-2210]',
        '9579[8080-11100]', '46408[35600-57200]', '5', '728[580-880]',
        '198[7-440]', '0[0-1]', '5705[80-17900]', '502[440-560]',
        '667[580-760]', '11223[10300-12200]', '7962[6480-9460]',
        '684[590-780]', '28[3-50]', '89[2-180]', '6[0-10]',
        '22786[1580-45300]', '2239[170-4290]', '12419[11100-13700]',
        '34[4-60]', '2213[1890-2530]', '4331[140-8280]', '7177[6110-8250]',
        '2', '13974[11100-16900]', '1402[1210-1590]', '15269[12600-17900]',
        '444[30-800]', '106[3-190]', '1[0-4]', '6[1-10]',
        '18226[13800-22700]', '90378[71100-110000]', '1013[200-2030]',
        '3109[160-6100]', '7', '36[1-70]', '3242[2950-3530]',
        '4475[4000-4950]', '17550[16100-19000]', '103[10-180]',
        '1353[40-3010]', '34', '5821[5010-6630]', '3800[100-8720]', '27',
        '5381[4370-6380]', '14101[11600-16600]', '21981[19500-24500]',
        '281[50-490]', '1698[60-3290]', '7588[6540-8630]', '1894[60-3800]',
        '175[60-320]', '13046[9640-16400]', '107[4-180]',
        '6872[5340-8410]', '3[1-7]', '29833[26500-33100]',
        '5044[4110-5980]', '385[30-660]', '12445[9580-15300]',
        '5289[4350-6220]', '9206[6950-11500]', '3[0-5]', '2001[1780-2220]',
        '9800[8220-11400]', '46276[35500-57000]', '23', '807[640-970]',
        '129[6-270]', '6795[80-22700]', '498[440-560]', '659[570-750]',
        '11749[10600-12900]', '3[1-6]', '8542[6900-10200]', '661[570-760]',
        '22[2-40]', '79[2-160]', '4[0-7]', '22326[1520-42000]',
        '2023[170-3840]', '12331[11000-13600]', '103[10-190]',

In [14]:
# Remove rows with ranges in the 'No. of cases' and 'No. of deaths' columns
cleaned_data = data[data['No. of cases'].str.isdigit() & data['No. of deaths'].str.isdigit()]

# Convert the columns to integers
cleaned_data['No. of cases'] = cleaned_data['No. of cases'].astype(int)
cleaned_data['No. of deaths'] = cleaned_data['No. of deaths'].astype(int)

# Recalculate the correlation
correlation, _ = pearsonr(cleaned_data['No. of cases'], cleaned_data['No. of deaths'])

correlation = round(correlation, 2)
correlation

/var/folders/nx/p2ppjpbj3633dx7v29vl9rqm0000gn/T/ipykernel_77530/3417719803.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['No. of cases'] = cleaned_data['No. of cases'].astype(int)
/var/folders/nx/p2ppjpbj3633dx7v29vl9rqm0000gn/T/ipykernel_77530/3417719803.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['No. of deaths'] = cleaned_data['No. of deaths'].astype(int)

np.float64(0.52)

In [15]:
import pandas as pd
# Load the dataset
file_path = './data/microsoft.csv'
data = pd.read_csv(file_path)

[No output generated]

In [16]:
# Calculate mean and standard deviation for the 'Volume' column
mean_volume = round(data['Volume'].mean(), 2)
std_dev_volume = round(data['Volume'].std(), 2)
(mean_volume, std_dev_volume)

(np.float64(22607406.19), np.float64(8254791.71))

In [17]:
import pandas as pd
from scipy.stats import zscore

data_path = './data/titanic.csv'
# Load the titanic dataset
data = pd.read_csv(data_path)
# Filter to only consider the age column (dropping null values)
age_data = data['Age'].dropna()
# Calculate Z-scores for the age column
z_scores = zscore(age_data)
# Find the outliers based on Z-scores with a threshold of 3
outliers = (z_scores > 3) | (z_scores < -3)
outliers_count = outliers.sum()
outliers_count

np.int64(2)

In [18]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

# Load Dataset
data_path = "./data/3901.csv"
df = pd.read_csv(data_path)
df.head()

                 TRUE_TIME  TIME        USFLUX  MEANGAM  MEANGBT  MEANGBZ  \
0  2014.03.23_20:24:00_TAI  11.6  3.246502e+21   21.786   93.013   92.809
1  2014.03.23_20:36:00_TAI  11.8  3.908340e+21   21.740   89.953   89.779
2  2014.03.23_20:48:00_TAI  12.0  4.041844e+21   21.797   89.552   89.566
3  2014.03.23_21:00:00_TAI  12.2  4.096817e+21   21.654   89.355   89.499
4  2014.03.23_21:12:00_TAI  12.4  4.197154e+21   21.732   87.089   87.454

   MEANGBH   MEANJZD       TOTUSJZ   MEANJZH  TOTUSJH  ABSNJZH       SAVNCPP  \
0   31.210  0.087461  3.141588e+12  0.002863  143.341   14.092  2.248874e+11
1   31.535  0.151386  3.745627e+12  0.003097  173.704   18.216  4.651086e+11
2   30.425  0.139126  3.790352e+12  0.002931  174.009   18.001  4.464203e+11
3   30.440  0.234519  3.604093e+12  0.003071  164.412   19.141  7.636783e+11
4   29.875  0.266657  3.622492e+12  0.003420  163.141   22.204  9.045709e+11

    MEANPOT        TOTPOT MEANSHR  SHRGT45  R_VALUE   AREA_ACR
0  1185.247  7.747525e+21  18.695    0.061      0.0  69.264130
1  1155.593  9.025444e+21  18.172    0.000      0.0  83.896141
2  1132.300  9.235995e+21  18.322    0.016      0.0  86.314224
3  1100.275  9.107749e+21  18.134    0.048      0.0  87.762978
4  1032.512  8.903345e+21  17.850    0.046      0.0  84.621979

In [19]:
# Step 1. Removing duplicates based on the entire row
duplicate_count = df.duplicated().sum()
df = df.drop_duplicates()
duplicate_count

np.int64(0)

In [20]:
# Step 2. Filling missing values in the USFLUX column with the mean value of the column
usflux_mean = df['USFLUX'].mean()
df['USFLUX'].fillna(usflux_mean, inplace=True)
round(usflux_mean, 2)

/var/folders/nx/p2ppjpbj3633dx7v29vl9rqm0000gn/T/ipykernel_82362/131776383.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['USFLUX'].fillna(usflux_mean, inplace=True)

np.float64(7.463837954032957e+21)

In [21]:
# Step 3. Creating a new feature named "MEANGAM_MEANGBZ_DIFF"
df['MEANGAM_MEANGBZ_DIFF'] = df['MEANGAM'] - df['MEANGBZ']
new_feature_mean = df['MEANGAM_MEANGBZ_DIFF'].mean()
round(new_feature_mean, 2)

np.float64(-89.04)

In [22]:
# Step 4. Applying the Random Forest Regressor with 100 trees to predict TOTUSJH

X = df[['MEANJZH', 'TOTUSJZ', 'MEANGBT']]
y = df['TOTUSJH']

# Splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initializing the model with 100 trees
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fitting the model
model.fit(X_train, y_train)

# Making predictions
y_pred = model.predict(X_test)

# Calculating accuracy
model_accuracy = r2_score(y_test, y_pred) * 100
round(model_accuracy, 3)

99.746

In [23]:
import pandas as pd
file_path = './data/veracruz 2016.csv'
data = pd.read_csv(file_path)
# Display first few rows of data to assess structure and ensure columns 'MedInd' and 'LarInd' exist
data.head()

   Unnamed: 0     MedInd      LarInd      Agri  Residential        Full
0           0  72.686639  149.995360  1.494594   166.082606  390.259199
1           1  70.388768  147.398669  1.483445   152.583867  371.854748
2           2  69.215141  144.928281  1.463172   133.080090  348.686684
3           3  69.737759  144.937954  1.453543   117.389388  333.518644
4           4  74.108817  149.165996  1.458864    98.774944  323.508621

In [24]:
# Calculate the Pearson correlation coefficient between the 'MedInd' and 'LarInd' columns
from scipy.stats import pearsonr

correlation_coefficient, _ = pearsonr(data['MedInd'], data['LarInd'])
round(correlation_coefficient, 4)

np.float64(0.7366)

In [25]:
import pandas as pd
from scipy.stats import skew, kurtosis
import numpy as np

# Load the Titanic dataset
data = pd.read_csv('./data/titanic.csv')

# Cleaning data
data = data[['Age', 'Fare']]
data.dropna(inplace=True)

# Analyzing Age
age_skewness = skew(data['Age'])
age_kurtosis = kurtosis(data['Age'])
age_mean = data['Age'].mean()
age_stdev = data['Age'].std()
age_within_stdev = ((data['Age'] >= age_mean - age_stdev) & (data['Age'] <= age_mean + age_stdev)).sum()

# Analyzing Fare
fare_skewness = skew(data['Fare'])
fare_kurtosis = kurtosis(data['Fare'])
fare_mean = data['Fare'].mean()
fare_stdev = data['Fare'].std()
fare_within_stdev = ((data['Fare'] >= fare_mean - fare_stdev) & (data['Fare'] <= fare_mean + fare_stdev)).sum()

"""@age_skewness[{:.2f}]\n@age_kurtosis[{:.2f}]\n@age_values_within_one_stdev[{}]\n@fare_skewness[{:.2f}]\n@fare_kurtosis[{:.2f}]\n@fare_values_within_one_stdev[{}]""".format(age_skewness, age_kurtosis, age_within_stdev, fare_skewness, fare_kurtosis, fare_within_stdev)

'@age_skewness[0.39]\n@age_kurtosis[0.17]\n@age_values_within_one_stdev[516]\n@fare_skewness[4.64]\n@fare_kurtosis[30.70]\n@fare_values_within_one_stdev[657]'

In [26]:
import pandas as pd
from scipy.stats import skew

# Load the dataset
data = pd.read_csv('./data/Zip_MedianSoldPricePerSqft_AllHomes.csv')
data_non_null = data.dropna()  # Remove rows with null values

# Calculate skewness
values = data_non_null.iloc[:, 1:].values.flatten()  # Ignore the first column and flatten the array
values = values[~pd.isnull(values)]  # Remove remaining NaN values
skewness = skew(values)

# Determine skewness type
if round(skewness, 2) > 0:
    skewness_type = "Positive Skewness"
elif round(skewness, 2) < 0:
    skewness_type = "Negative Skewness"
else:
    skewness_type = "No Skewness"

# Results
skewness_coefficient = round(skewness, 2)
(skewness_coefficient, skewness_type)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[229], line 11
      9 values = data_non_null.iloc[:, 1:].values.flatten()  # Ignore the first column and flatten the array
     10 values = values[~pd.isnull(values)]  # Remove remaining NaN values
---> 11 skewness = skew(values)
     13 # Determine skewness type
     14 if round(skewness, 2) > 0:

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:579, in _axis_nan_policy_factory.<locals>.axis_nan_policy_decorator.<locals>.axis_nan_policy_wrapper(***failed resolving arguments***)
    576     res = _add_reduced_axes(res, reduced_axes, keepdims)
    577     return tuple_to_result(*res)
--> 579 res = hypotest_fun_out(*samples, **kwds)
    580 res = result_to_tuple(res, n_out)
    581 res = _add_reduced_axes(res, reduced_axes, keepdims)

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/scipy/stats/_stats_py.py:1350, in skew(a, axis, bias, nan_policy)
   1347 a, axis = _chk_asarray(a, axis, xp=xp)
   1348 n = _length_nonmasked(a, axis, xp=xp)
-> 1350 mean = xp.mean(a, axis=axis, keepdims=True)
   1351 mean_reduced = xp.squeeze(mean, axis=axis)  # needed later
   1352 m2 = _moment(a, 2, axis, mean=mean, xp=xp)

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/numpy/_core/fromnumeric.py:3860, in mean(a, axis, dtype, out, keepdims, where)
   3857     else:
   3858         return mean(axis=axis, dtype=dtype, out=out, **kwargs)
-> 3860 return _methods._mean(a, axis=axis, dtype=dtype,
   3861                       out=out, **kwargs)

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/numpy/_core/_methods.py:134, in _mean(a, axis, dtype, out, keepdims, where)
    131         dtype = mu.dtype('f4')
    132         is_float16_result = True
--> 134 ret = umr_sum(arr, axis, dtype, out, keepdims, where=where)
    135 if isinstance(ret, mu.ndarray):
    136     ret = um.true_divide(
    137             ret, rcount, out=ret, casting='unsafe', subok=False)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
import numpy as np

# Attempt to parse the columns as numeric for analyzing only numeric data in the dataset
values_numeric = pd.to_numeric(values, errors='coerce')  # Replace non-numeric entries with NaN
values_cleaned = values_numeric[~np.isnan(values_numeric)]  # Remove non-numeric and NaN entries

# Recalculate skewness
skewness_cleaned = skew(values_cleaned)

# Determine skewness type
if round(skewness_cleaned, 2) > 0:
    skewness_cleaned_type = "Positive Skewness"
elif round(skewness_cleaned, 2) < 0:
    skewness_cleaned_type = "Negative Skewness"
else:
    skewness_cleaned_type = "No Skewness"

# Results
skewness_cleaned_coefficient = round(skewness_cleaned, 2)
(skewness_cleaned_coefficient, skewness_cleaned_type)

(np.float64(0.62), 'Positive Skewness')

In [28]:
import pandas as pd

# Load the dataset
file_path = './data/weather_train.csv'
data = pd.read_csv(file_path)

# Drop missing values in "wind speed" column and calculate the skewness
wind_speed = data['wind speed'].dropna()
skewness = (3 * (wind_speed.mean() - wind_speed.median())) / wind_speed.std()
skew_type = "positive" if skewness > 0 else ("negative" if skewness < 0 else "symmetric")

skewness, skew_type

(np.float64(0.6596078626429694), 'positive')

In [29]:
import pandas as pd
from scipy.stats import shapiro, skew, kurtosis

# Load the dataset
data = pd.read_csv('./data/2014_q4.csv')

# Analyze the "Trips over the past 24-hours (midnight to 11:59pm)" column
distribution_column = "Trips over the past 24-hours (midnight to 11:59pm)"

# Handle missing or non-numeric data
data[distribution_column] = pd.to_numeric(data[distribution_column], errors='coerce')
data_clean = data[distribution_column].dropna()

# Perform Shapiro-Wilk test for normality
shapiro_stat, shapiro_p = shapiro(data_clean)

# Calculate skewness and kurtosis
data_skewness = skew(data_clean)
data_kurtosis = kurtosis(data_clean)

shapiro_stat, shapiro_p, data_skewness, data_kurtosis

(np.float64(0.9543095491220899),
 np.float64(0.0027291466836339875),
 np.float64(0.1520317726967334),
 np.float64(-1.1336054960924962))

In [30]:
import pandas as pd
from scipy.stats import skew

data = pd.read_csv('./data/arrest_expungibility.csv')
age_skewness = skew(data['Age'])

if -0.5 <= age_skewness <= 0.5:
    distribution = 'symmetric'
elif age_skewness > 0.5:
    distribution = 'skewed_right'
else:
    distribution = 'skewed_left'

distribution

'skewed_left'

In [31]:
import pandas as pd
# Load the CSV file
data_file_path = './data/e5_aapl.csv'
data = pd.read_csv(data_file_path)

# Calculate the average trading volume
mean_volume = data['Volume'].mean()
round(mean_volume, 2)

np.float64(51032080.71)

In [32]:
import pandas as pd

# Load the CSV file
file_path = './data/20170413_000000_group_statistics.csv'
data = pd.read_csv(file_path)

# Check for null values in the "num. calls abandoned" column
data_cleaned = data.dropna(subset=['num. calls abandoned'])

# Calculate the total number of abandoned calls
total_abandoned_calls = data_cleaned['num. calls abandoned'].sum()
total_abandoned_calls

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/var/folders/nx/p2ppjpbj3633dx7v29vl9rqm0000gn/T/ipykernel_77530/2334114986.py in ?()
      4 file_path = './data/20170413_000000_group_statistics.csv'
      5 data = pd.read_csv(file_path)
      6
      7 # Check for null values in the "num. calls abandoned" column
----> 8 data_cleaned = data.dropna(subset=['num. calls abandoned'])
      9
     10 # Calculate the total number of abandoned calls
     11 total_abandoned_calls = data_cleaned['num. calls abandoned'].sum()

/opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/frame.py in ?(self, axis, how, thresh, subset, inplace, ignore_index)
   6688             ax = self._get_axis(agg_axis)
   6689             indices = ax.get_indexer_for(subset)
   6690             check = indices == -1
   6691             if check.any():
-> 6692                 raise KeyError(np.array(subset)[check].tolist())
   6693             agg_obj = self.take(indices, axis=agg_axis)
   6694
   6695         if thresh is not lib.no_default:

KeyError: ['num. calls abandoned']

In [33]:
# Checking the header of the data to confirm column names
file_path = './data/20170413_000000_group_statistics.csv'
data = pd.read_csv(file_path)
data.columns

Index(['timestamp', 'num. busy overflows', 'num. calls answered',
       'num. calls abandoned ', 'num. calls transferred ',
       'num. calls timed out ', 'avg. num. agents talking ',
       'avg. num. agents staffed ', 'avg. wait time ',
       'avg. abandonment time'],
      dtype='object')

In [34]:
# Correcting the column name for 'num. calls abandoned ' (extra space issue) and recalculating
# Correct the column name
data.rename(columns=lambda x: x.strip(), inplace=True)

# Check for null values in the "num. calls abandoned" column
data_cleaned = data.dropna(subset=['num. calls abandoned'])

# Calculate the total number of abandoned calls
total_abandoned_calls = data_cleaned['num. calls abandoned'].sum()
total_abandoned_calls

np.int64(9)

In [35]:
import pandas as pd
from scipy.stats import zscore

# Load the data
data = pd.read_csv('./data/DES=+2006261.csv')
data.head()

          JDTDB              Calendar Date (TDB)             X             Y  \
0  2.451215e+06   A.D. 1999-Feb-05 00:58:29.0000 -2.887479e+08  2.475795e+07
1  2.451216e+06   A.D. 1999-Feb-06 00:58:29.0000 -2.894466e+08  2.303593e+07
2  2.451217e+06   A.D. 1999-Feb-07 00:58:29.0000 -2.901336e+08  2.131300e+07
3  2.451218e+06   A.D. 1999-Feb-08 00:58:29.0000 -2.908092e+08  1.958922e+07
4  2.451219e+06   A.D. 1999-Feb-09 00:58:29.0000 -2.914731e+08  1.786466e+07

              Z  Unnamed: 5
0  2.212686e+07         NaN
1  2.286679e+07         NaN
2  2.360580e+07         NaN
3  2.434388e+07         NaN
4  2.508099e+07         NaN

In [36]:
# Compute Z-scores for the X-coordinate column
x_z_scores = zscore(data['X'])

# Identify outliers based on Z-score greater than 3 or less than -3
outliers = abs(x_z_scores) > 3
number_of_outliers = outliers.sum()

# Remove the identified outliers
cleaned_data = data[~outliers]

# Calculate new mean and standard deviation of the updated X-coordinate column
new_mean = cleaned_data['X'].mean()
new_sd = cleaned_data['X'].std()

number_of_outliers, new_mean, new_sd

(np.int64(0), np.float64(-259162995.0163002), np.float64(53529181.171648875))

In [37]:
import pandas as pd

# Load the data file
data = pd.read_csv('./data/YAHOO-BTC_USD_D.csv')

# Calculate the required statistics, ignoring missing values
mean_close = round(data['Close'].mean(skipna=True), 2)
median_close = round(data['Close'].median(skipna=True), 2)
std_close = round(data['Close'].std(skipna=True), 2)

mean_close, median_close, std_close

(np.float64(4349.27), np.float64(3599.77), np.float64(4113.51))

In [38]:
import pandas as pd
import numpy as np

# Load the dataset
data_path = './data/gapminder_cleaned.csv'
data = pd.read_csv(data_path)

# Create a new feature with GDP per capita in logarithmic scale (base 10)
data['log_gdp_per_capita'] = np.log10(data['gdp_per_capita'])

# Analyze the new feature
has_nan_values_in_new_feature = data['log_gdp_per_capita'].isna().any()
new_feature_mean = round(data['log_gdp_per_capita'].mean(), 2)
new_feature_std = round(data['log_gdp_per_capita'].std(), 2)

has_nan_values_in_new_feature, new_feature_mean, new_feature_std

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/indexes/base.py:3812, in Index.get_loc(self, key)
   3811 try:
-> 3812     return self._engine.get_loc(casted_key)
   3813 except KeyError as err:

File pandas/_libs/index.pyx:167, in pandas._libs.index.IndexEngine.get_loc()

File pandas/_libs/index.pyx:196, in pandas._libs.index.IndexEngine.get_loc()

File pandas/_libs/hashtable_class_helper.pxi:7088, in pandas._libs.hashtable.PyObjectHashTable.get_item()

File pandas/_libs/hashtable_class_helper.pxi:7096, in pandas._libs.hashtable.PyObjectHashTable.get_item()

KeyError: 'gdp_per_capita'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
Cell In[569], line 9
      6 data = pd.read_csv(data_path)
      8 # Create a new feature with GDP per capita in logarithmic scale (base 10)
----> 9 data['log_gdp_per_capita'] = np.log10(data['gdp_per_capita'])
     11 # Analyze the new feature
     12 has_nan_values_in_new_feature = data['log_gdp_per_capita'].isna().any()

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/frame.py:4113, in DataFrame.__getitem__(self, key)
   4111 if self.columns.nlevels > 1:
   4112     return self._getitem_multilevel(key)
-> 4113 indexer = self.columns.get_loc(key)
   4114 if is_integer(indexer):
   4115     indexer = [indexer]

File /opt/miniconda3/envs/dab-step/lib/python3.11/site-packages/pandas/core/indexes/base.py:3819, in Index.get_loc(self, key)
   3814     if isinstance(casted_key, slice) or (
   3815         isinstance(casted_key, abc.Iterable)
   3816         and any(isinstance(x, slice) for x in casted_key)
   3817     ):
   3818         raise InvalidIndexError(key)
-> 3819     raise KeyError(key) from err
   3820 except TypeError:
   3821     # If we have a listlike key, _check_indexing_error will raise
   3822     #  InvalidIndexError. Otherwise we fall through and re-raise
   3823     #  the TypeError.
   3824     self._check_indexing_error(key)

KeyError: 'gdp_per_capita'

In [39]:
import numpy as np

# Create a new feature with GDP per capita in logarithmic scale (base 10)
data['log_gdp_per_capita'] = np.log10(data['gdppercap'])

# Analyze the new feature
has_nan_values_in_new_feature = data['log_gdp_per_capita'].isna().any()
new_feature_mean = round(data['log_gdp_per_capita'].mean(), 2)
new_feature_std = round(data['log_gdp_per_capita'].std(), 2)

has_nan_values_in_new_feature, new_feature_mean, new_feature_std

(np.False_, np.float64(3.54), np.float64(0.54))

In [40]:
import pandas as pd

# Load the Credit.csv file
file_path = './data/Credit.csv'
data = pd.read_csv(file_path)

# Calculate mean and standard deviation of Income column
mean_income = round(data['Income'].mean(), 2)
std_dev_income = round(data['Income'].std(), 2)

mean_income, std_dev_income

(np.float64(45.22), np.float64(35.24))